Repository cherisong/Carnalitas, pull requests merged in 2020-09, with the labels that each got.

#8 Github Optimizations
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/build.yml
  LICENSE.md
Labels: documentation

#21 Fix futa french localization
  changelog.txt
  localization/french/carn_traits_l_french.yml
Labels: bug, localization

#22 Another fix for french localization
  localization/french/carn_game_rules_l_french.yml
Labels: bug, localization

#20 Added basic stress-arousal system
  changelog.txt
  common/game_rules/carn_game_rules.txt
  common/on_action/carn_periodic_on_actions.txt
  events/carn_arousal_events.txt
  localization/english/carn_arousal_events_l_english.yml
  localization/english/carn_game_rules_l_english.yml
Labels: enhancement

#25 Fix wrong game rule label for futa inheritance
  localization/french/carn_game_rules_l_french.yml
Labels: bug, localization

#26 Add french loc for arousal from stress + fix typo in english loc
  localization/english/carn_game_rules_l_english.yml
  localization/french/carn_game_rules_l_french.yml
Labels: localization

#28 Change game rules to use some dynamic trait names
  localization/english/carn_game_rules_l_english.yml
Labels: enhancement, localization

#29 Basic dominant/submissive relation
  common/game_concepts/carn_game_concepts.txt
  common/scripted_relations/carn_scripted_relations.txt
  common/scripted_triggers/carn_relation_triggers.txt
  localization/english/carn_game_concepts_l_english.yml
  localization/english/carn_relations_l_english.yml
Labels: enhancement, suggestion

#33 french loc: catch up with english loc + add more links in english concept description
  localization/english/carn_game_concepts_l_english.yml
  localization/french/carn_arousal_events_l_french.yml
  localization/french/carn_example_sex_scene_l_french.yml
  localization/french/carn_game_concepts_l_french.yml
  localization/french/carn_game_rules_l_french.yml
  localization/french/carn_grant_titles_l_french.yml
  localization/french/carn_interactions_l_french.yml
  localization/french/carn_relations_l_french.yml
  localization/french/carn_traits_l_french.yml
Labels: localization

#37 Fix a wrong file extension for carn_slave_events_l_english loc file (.txt => .yml)
  localization/english/event_localization/carn_slave_events_l_english.yml
Labels: bug, localization

#40 Update French Localization
  localization/french/carn_arousal_events_l_french.yml
  localization/french/carn_effects_l_french.yml
  localization/french/carn_game_concepts_l_french.yml
  localization/french/carn_game_rules_l_french.yml
  localization/french/carn_grant_titles_l_french.yml
  localization/french/carn_hook_types_l_french.yml
  localization/french/carn_interactions_l_french.yml
  localization/french/carn_relations_l_french.yml
  localization/french/carn_traits_l_french.yml
  localization/french/carn_triggers_l_french.yml
  localization/french/event_localization/carn_arousal_events_l_french.yml
  localization/french/event_localization/carn_example_sex_scene_l_french.yml
  localization/french/event_localization/carn_slave_events_l_french.yml
  localization/french/opinions/carn_slave_opinions_l_french.yml
Labels: localization

#41 FIX: Add good=yes to big tits and dick traits
  changelog.md
  common/traits/carn_traits.txt
Labels: bug

#47 Fix typo and optimize traits french loc
  localization/french/carn_traits_l_french.yml
Labels: localization

#51 Russian localization fixes
  localization/russian/carn_game_rules_l_russian.yml
  localization/russian/carn_interactions_l_russian.yml
  localization/russian/carn_traits_l_russian.yml
Labels: localization

#53 Created localization helper
  .github/codeowners
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  localization/english/carn_interactions_l_english.yml
  localization/english/event_localization/carn_arousal_events_l_english.yml
  localization/english/event_localization/carn_example_sex_scene_l_english.yml
  localization/english/event_localization/carn_slave_events_l_english.yml
  localization_helper.py
Labels: enhancement, localization

#56 Updated Localization Helper
  .github/codeowners
  localization_helper.py
Labels: enhancement, localization

#58 Fixed STDs spreading when disabled by game rule
  changelog.md
  common/scripted_triggers/carn_20_health_triggers_overwrite.txt
Labels: bug

#48 Religious doctrines + manumission
  common/character_interactions/carn_religious_interactions.txt
  common/game_rules/carn_game_rules.txt
  common/on_action/carn_doctrine_on_actions.txt
  common/opinion_modifiers/carn_religious_opinions.txt
  common/religion/doctrines/carn_doctrines.txt
  common/script_values/carn_religious_values
  common/scripted_effects/carn_doctrine_effects.txt
  common/scripted_effects/carn_game_rule_effects.txt
  events/carn_doctrine_events.txt
  events/carn_religious_events.txt
  gfx/interface/icons/faith_doctrine_groups/carn_doctrine_other_slavery.dds
  gfx/interface/icons/faith_doctrine_groups/carn_doctrine_same_slavery.dds
  localization/english/carn_interactions_l_english.yml
  localization/english/event_localization/religious_events/carn_religious_interaction_events_l_english.yml
  localization/english/religion/carn_religion_l_english.yml
Labels: enhancement

#52 Fix/breast size trait only affects size
  changelog.md
  gfx/portraits/portrait_modifiers/carn_tits.txt
Labels: enhancement

#60 Localization/placeholders update
  localization/english/carn_interactions_l_english.yml
  localization/english/event_localization/carn_slavery_doctrine_events_l_english.yml
  localization/english/religion/carn_doctrines_l_english.yml
  localization/french/carn_interactions_l_french.yml
  localization/french/event_localization/carn_slavery_doctrine_events_l_french.yml
  localization/french/opinions/carn_slave_opinions_l_french.yml
  localization/french/religion/carn_doctrines_l_french.yml
  localization/german/carn_interactions_l_german.yml
  localization/german/event_localization/carn_slavery_doctrine_events_l_german.yml
  localization/german/opinions/carn_slave_opinions_l_german.yml
  localization/german/religion/carn_doctrines_l_german.yml
  localization/korean/carn_interactions_l_korean.yml
  localization/korean/event_localization/carn_slavery_doctrine_events_l_korean.yml
  localization/korean/opinions/carn_slave_opinions_l_korean.yml
  localization/korean/religion/carn_doctrines_l_korean.yml
  localization/russian/carn_interactions_l_russian.yml
  localization/russian/event_localization/carn_slavery_doctrine_events_l_russian.yml
  localization/russian/opinions/carn_slave_opinions_l_russian.yml
  localization/russian/religion/carn_doctrines_l_russian.yml
  localization/simp_chinese/carn_interactions_l_simp_chinese.yml
  localization/simp_chinese/event_localization/carn_slavery_doctrine_events_l_simp_chinese.yml
  localization/simp_chinese/opinions/carn_slave_opinions_l_simp_chinese.yml
  localization/simp_chinese/religion/carn_doctrines_l_simp_chinese.yml
  localization/spanish/carn_interactions_l_spanish.yml
  localization/spanish/event_localization/carn_slavery_doctrine_events_l_spanish.yml
  localization/spanish/opinions/carn_slave_opinions_l_spanish.yml
  localization/spanish/religion/carn_doctrines_l_spanish.yml
Labels: localization

#64 visual: new slavery doctrine icons
  gfx/interface/icons/faith_doctrine_groups/carn_doctrine_other_slavery.dds
  gfx/interface/icons/faith_doctrine_groups/carn_doctrine_same_slavery.dds
Labels: visual

#65 visual: Add an icon to the slave owner concept
  common/game_concepts/carn_game_concepts.txt
  gfx/interface/icons/slave_owner_icon.dds
Labels: visual

#77 Visual: Prostitute trait icons
  gfx/interface/icons/traits/prostitute.dds
  gfx/interface/icons/traits/prostitute_1.dds
  gfx/interface/icons/traits/prostitute_2.dds
  gfx/interface/icons/traits/prostitute_3.dds
Labels: visual

#82 Prostitution translation + gender aware prostitute trait names
  common/traits/carn_traits.txt
  localization/english/carn_traits_l_english.yml
  localization/french/carn_decisions_l_french.yml
  localization/french/carn_game_concepts_l_french.yml
  localization/french/carn_game_rules_l_french.yml
  localization/french/carn_traits_l_french.yml
  localization/french/custom_localization/carn_custom_loc_l_french.yml
  localization/french/religion/carn_doctrines_l_french.yml
  localization/german/carn_decisions_l_german.yml
  localization/german/carn_game_concepts_l_german.yml
  localization/german/carn_game_rules_l_german.yml
  localization/german/carn_traits_l_german.yml
  localization/german/religion/carn_doctrines_l_german.yml
  localization/korean/carn_decisions_l_korean.yml
  localization/korean/carn_game_concepts_l_korean.yml
  localization/korean/carn_game_rules_l_korean.yml
  localization/korean/carn_traits_l_korean.yml
  localization/korean/religion/carn_doctrines_l_korean.yml
  localization/russian/carn_decisions_l_russian.yml
  localization/russian/carn_game_concepts_l_russian.yml
  localization/russian/carn_game_rules_l_russian.yml
  localization/russian/carn_traits_l_russian.yml
  localization/russian/religion/carn_doctrines_l_russian.yml
  localization/simp_chinese/carn_decisions_l_simp_chinese.yml
  localization/simp_chinese/carn_game_concepts_l_simp_chinese.yml
  localization/simp_chinese/carn_game_rules_l_simp_chinese.yml
  localization/simp_chinese/carn_traits_l_simp_chinese.yml
  localization/simp_chinese/religion/carn_doctrines_l_simp_chinese.yml
  localization/spanish/carn_decisions_l_spanish.yml
  localization/spanish/carn_game_concepts_l_spanish.yml
  localization/spanish/carn_game_rules_l_spanish.yml
  localization/spanish/carn_traits_l_spanish.yml
  localization/spanish/religion/carn_doctrines_l_spanish.yml
Labels: localization

#84 visual: Prostitution doctrine icon
  gfx/interface/icons/faith_doctrine_groups/carn_doctrine_prostitution.dds
Labels: visual

#88 Localization/update
  localization/english/carn_decisions_l_english.yml
  localization/english/carn_important_actions_l_english.yml
  localization/french/carn_decisions_l_french.yml
  localization/french/carn_game_concepts_l_french.yml
  localization/french/carn_game_rules_l_french.yml
  localization/french/carn_important_actions_l_french.yml
  localization/french/carn_interactions_l_french.yml
  localization/french/custom_localization/carn_custom_loc_l_french.yml
  localization/french/event_localization/carn_prostitution_random_events_l_french.yml
  localization/french/modifiers/carn_prostitute_modifiers_l_french.yml
  localization/french/religion/carn_doctrines_l_french.yml
  localization/german/carn_decisions_l_german.yml
  localization/german/carn_game_concepts_l_german.yml
  localization/german/carn_game_rules_l_german.yml
  localization/german/carn_important_actions_l_german.yml
  localization/german/event_localization/carn_prostitution_random_events_l_german.yml
  localization/german/modifiers/carn_prostitute_modifiers_l_german.yml
  localization/korean/carn_decisions_l_korean.yml
  localization/korean/carn_game_concepts_l_korean.yml
  localization/korean/carn_game_rules_l_korean.yml
  localization/korean/carn_important_actions_l_korean.yml
  localization/korean/event_localization/carn_prostitution_random_events_l_korean.yml
  localization/korean/modifiers/carn_prostitute_modifiers_l_korean.yml
  localization/russian/carn_decisions_l_russian.yml
  localization/russian/carn_game_concepts_l_russian.yml
  localization/russian/carn_game_rules_l_russian.yml
  localization/russian/carn_important_actions_l_russian.yml
  localization/russian/event_localization/carn_prostitution_random_events_l_russian.yml
  localization/russian/modifiers/carn_prostitute_modifiers_l_russian.yml
  localization/spanish/carn_decisions_l_spanish.yml
  localization/spanish/carn_game_concepts_l_spanish.yml
  localization/spanish/carn_game_rules_l_spanish.yml
  localization/spanish/carn_important_actions_l_spanish.yml
  localization/spanish/event_localization/carn_prostitution_random_events_l_spanish.yml
  localization/spanish/modifiers/carn_prostitute_modifiers_l_spanish.yml
Labels: localization

#92 Visual/prostitution artworks
  common/decisions/carn_prostitution_decisions.txt
  common/messages/carn_messages.txt
  common/modifiers/carn_prostitute_modifiers.txt
  gfx/interface/icons/message_feed/prostitution.dds
  gfx/interface/icons/modifiers/prostitution_positive.dds
  gfx/interface/illustrations/decisions/decision_prostitution.dds
  localization/french/carn_decisions_l_french.yml
Labels: visual

#96 visual: Add icon for enslave button in prison and character interactions
  gfx/interface/buttons/button_icons/prison_enslave.dds
  gfx/interface/icons/character_interactions/carn_enslave_interaction.dds
Labels: visual

#99 Localization/update
  localization/english/religion/carn_doctrines_l_english.yml
  localization/french/carn_decisions_l_french.yml
  localization/french/religion/carn_doctrines_l_french.yml
  localization/german/religion/carn_doctrines_l_german.yml
  localization/korean/carn_decisions_l_korean.yml
  localization/korean/carn_effects_l_korean.yml
  localization/korean/carn_game_concepts_l_korean.yml
  localization/korean/carn_game_rules_l_korean.yml
  localization/korean/carn_had_sex_with_l_korean.yml
  localization/korean/carn_hook_types_l_korean.yml
  localization/korean/carn_important_actions_l_korean.yml
  localization/korean/carn_interactions_l_korean.yml
  localization/korean/carn_relations_l_korean.yml
  localization/korean/carn_traits_l_korean.yml
  localization/korean/carn_triggers_l_korean.yml
  localization/korean/event_localization/carn_arousal_events_l_korean.yml
  localization/korean/event_localization/carn_example_sex_scene_l_korean.yml
  localization/korean/event_localization/carn_prostitution_random_events_l_korean.yml
  localization/korean/event_localization/carn_slave_events_l_korean.yml
  localization/korean/event_localization/carn_slavery_doctrine_events_l_korean.yml
  localization/korean/modifiers/carn_prostitute_modifiers_l_korean.yml
  localization/korean/opinions/carn_slave_opinions_l_korean.yml
  localization/korean/religion/carn_doctrines_l_korean.yml
  localization/russian/religion/carn_doctrines_l_russian.yml
  localization/simp_chinese/religion/carn_doctrines_l_simp_chinese.yml
  localization/spanish/religion/carn_doctrines_l_spanish.yml
Labels: localization

#102 Localization/update
  localization/english/carn_interactions_l_english.yml
  localization/french/carn_character_window_gui_l_french.yml
  localization/french/carn_decisions_l_french.yml
  localization/french/carn_game_rules_l_french.yml
  localization/french/carn_interactions_l_french.yml
  localization/french/gui/carn_prison_enslave_l_french.yml
  localization/french/modifiers/carn_birth_control_modifiers_l_french.yml
  localization/german/carn_character_window_gui_l_german.yml
  localization/german/carn_decisions_l_german.yml
  localization/german/carn_game_rules_l_german.yml
  localization/german/carn_interactions_l_german.yml
  localization/german/gui/carn_prison_enslave_l_german.yml
  localization/german/modifiers/carn_birth_control_modifiers_l_german.yml
  localization/korean/carn_character_window_gui_l_korean.yml
  localization/korean/carn_decisions_l_korean.yml
  localization/korean/carn_game_rules_l_korean.yml
  localization/korean/carn_interactions_l_korean.yml
  localization/korean/gui/carn_prison_enslave_l_korean.yml
  localization/korean/modifiers/carn_birth_control_modifiers_l_korean.yml
  localization/russian/carn_character_window_gui_l_russian.yml
  localization/russian/carn_decisions_l_russian.yml
  localization/russian/carn_game_rules_l_russian.yml
  localization/russian/carn_interactions_l_russian.yml
  localization/russian/gui/carn_prison_enslave_l_russian.yml
  localization/russian/modifiers/carn_birth_control_modifiers_l_russian.yml
  localization/simp_chinese/carn_character_window_gui_l_simp_chinese.yml
  localization/simp_chinese/carn_decisions_l_simp_chinese.yml
  localization/simp_chinese/carn_game_rules_l_simp_chinese.yml
  localization/simp_chinese/carn_interactions_l_simp_chinese.yml
  localization/simp_chinese/gui/carn_prison_enslave_l_simp_chinese.yml
  localization/simp_chinese/modifiers/carn_birth_control_modifiers_l_simp_chinese.yml
  localization/spanish/carn_character_window_gui_l_spanish.yml
  localization/spanish/carn_decisions_l_spanish.yml
  localization/spanish/carn_game_rules_l_spanish.yml
  localization/spanish/carn_interactions_l_spanish.yml
  localization/spanish/gui/carn_prison_enslave_l_spanish.yml
  localization/spanish/modifiers/carn_birth_control_modifiers_l_spanish.yml
Labels: localization
